@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-middle">
    <h1 class="display-4">Добро пожаловать на Weather Archive</h1>
    <p>Вы можете просмотреть текущий архив или добавить свои данные.</p>
    <a type="button" class="btn btn-primary me-5" asp-controller="Archive" asp-action="Index">Войти в архив</a>
    <a type="button" class="btn btn-primary" asp-controller="Loader" asp-action="Index">Загрузить</a>
</div>